<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 <ion-card>
  
  <ion-grid>
    
    <ion-row class="ion-justify-content-center ion-margin">
      <ion-col size="auto" class="ion-text-center">
        <figure>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" width="100" height="100px"/>
        </figure>
      </ion-col>
    </ion-row>
  </ion-grid>

 <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
  <ion-item>
    <ion-icon name="mail"></ion-icon>
    <ion-input label="Email" labelPlacement="floating" placeholder="example@gmail.com" formControlName="email">
    </ion-input>
  </ion-item>
  
   <ion-item>
     <ion-icon name="lock-closed"></ion-icon>
     <ion-input  label="Contraseña" type="password" placeholder="" formControlName="password"></ion-input>
     
   </ion-item>

   <div>
     <ng-container *ngFor="let error of formErrors.email">
       <ion-label color="danger" 
         *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)" >
         {{ error.message}}
       </ion-label>

     </ng-container>
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger" 
         *ngIf="(loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty)">
         {{ errorMessage }}
       </ion-label>
     </ng-container>
   </div>
   <br>
   
   <ion-button
     type="submit"
     expand="block"
     [disabled]="!loginForm.valid"
     >Login
   </ion-button>
 </form>

 <p>{{errorMessage}}</p>

 <ion-button expand="block" fill="clear" routerLink="/register">Registrarse</ion-button>

  
 </ion-card>
</ion-content>
