<ion-content>
  <swiper-container
  slides-per-view="1"
  pagination="true"
  >
    <swiper-slide class="bg-color-slide">
      <h1 class="title1">Somos mas que futbol</h1>
      <img src="/assets/futbol.jpg">
      <ion-icon name="football-outline"></ion-icon>
      <p  class= "my-paragraph">somos mas que futbol el deporte no define nuestra totalidad,pero si es una gran herramienta para inspirar, conectar y transformar nuestro alrededor. une culturas promueve valores humanos como la solidaridad trabajo en equipo y la perseverancia</p>
    </swiper-slide>
    <swiper-slide>
      <h1>los mejores del mundo</h1>
      <img src="/assets/cr7.jpg">
      <ion-icon name="star-half"></ion-icon>
      <p>Los dos mejores del mundo Lionel messy y Cristiano ronaldo,año tras año viven su lucha uno a uno para poder superarse, son un ejemplo a seguir</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Mejores Equipos</h1>
      <img src="/assets/equipos.jpg">
      <ion-icon class="close-icon" name="close" (click)="finish()"></ion-icon>
     <ion-icon name="earth"></ion-icon>
      <p>Real madrid, Manchester City, Barcelona,Bayer Munich, Juventus

      </p>
      
      <ion-button  (click)="finish()" routerLink="login">Click para continuar</ion-button>
      
      
    </swiper-slide>
  </swiper-container>
</ion-content>