<ion-split-pane>
  <ion-menu contentId="content" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeMenu()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
      <ion-item (click)="log_out()">
        <ion-icon name="log-out-outline"></ion-icon> Salir
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="home">
          <ion-icon name="home-outline"></ion-icon>Home
      </ion-item>
    </ion-menu-toggle>
  <ion-menu-toggle>
      <ion-item routerLink="account">
       <ion-icon name="person"></ion-icon>Perfil
     </ion-item>
    </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
