<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{user_data.name}} {{user_data.last_name}}</ion-title>
  <ion-avatar (click)="takePhoto()">
    <img [src]="user_data.image ? user_data.image : 'assets/icon/favicon.png'"/>
  </ion-avatar>
  <p>usuario: {{user_data.username}}</p>
  <p>Seguidores: {{user_data.followed_users.length}}</p>
  <p>Siguiendo: {{user_data.following_users.length}}</p>
</ion-content>