<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-item>
      <ion-input label="Correo Electronico" labelPlacement="floating" placeholder="example@gmail.com" formControlName="email">
      </ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.email">
      <ion-label color="danger" 
       *ngIf="(registerForm.get('email')?.hasError(error.type) && registerForm.get('email')?.dirty)">{{error.message}}</ion-label>
    </ng-container>


    <ion-item>
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Name" formControlName="name">
      </ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.name">
      <ion-label color="danger" 
       *ngIf="(registerForm.get('name')?.hasError(error.type) && registerForm.get('name')?.dirty)">{{error.message}}</ion-label>
    </ng-container>

    <ion-item>
      <ion-input label="Apellido" labelPlacement="floating" placeholder="Last Name" formControlName="lastname">
      </ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.lastname">
      <ion-label color="danger" 
       *ngIf="(registerForm.get('lastname')?.hasError(error.type) && registerForm.get('lastname')?.dirty)">{{error.message}}</ion-label>
    </ng-container>


    <ion-item>
      <ion-input label="Nombre de usuario" labelPlacement="floating" placeholder="Last Name" formControlName="username">
      </ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.username">
      <ion-label color="danger" 
       *ngIf="(registerForm.get('username')?.hasError(error.type) && registerForm.get('username')?.dirty)">{{error.message}}</ion-label>
    </ng-container>

    <ion-item>
      <ion-input label="Contraseña" type="password" labelPlacement="floating" placeholder="Password" formControlName="password">
      </ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.password">
      <ion-label color="danger" 
       *ngIf="(registerForm.get('password')?.hasError(error.type) && registerForm.get('password')?.dirty)">{{error.message}}</ion-label>
    </ng-container>

    <ion-item>
      <ion-input label="Confirmación de Contraseña" type="password" labelPlacement="floating" placeholder="Password Confirmation" formControlName="passwordConfirmation">
      </ion-input>
    </ion-item>
    <ng-container *ngFor="let error of formErrors.passwordConfirmation">
      <ion-label color="danger" 
       *ngIf="(registerForm.get('passwordConfirmation')?.hasError(error.type) && registerForm.get('passwordConfirmation')?.dirty)">{{error.message}}</ion-label>
    </ng-container>

    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Registrar</ion-button>
    
    

  </form>
</ion-content>
